[submodule "external/data-trust-query-builder"]
	path = external/data-trust-query-builder
	url = https://github.com/nrcc/data-trust-query-builder.git
[submodule "external/GopDataTrustClient"]
	path = external/GopDataTrustClient
	url = https://github.com/TechRoanoke/GopDataTrustClient.git
